# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GameJam-StrongerTogether.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Repositorys\GameJam-StrongerTogether\.idea\.idea.GameJam-StrongerTogether\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
